<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Notes</title>
<script type="text/javascript" src="angular.js"></script>
<link href="bootstrap.css" rel="stylesheet">
<script type="text/javascript">
var application = angular.module('AddNoteApplication',[]);
application.controller('AddNoteController', function($scope, $http){
	$scope.message = null;
	$scope.note = {};
	$scope.note.title = null;
	$scope.note.description = null;
	
	$scope.showAdd = function(){
		var data = angular.toJson($scope.note);
		$http.post("http://localhost:8080/notes/add/", data).then(function(response){
			$scope.message = 'Notes Has Been Successfully Added';
			
		}, function(){
			$scope.message = 'Failed to add notes';
		})
	}
});
</script>
</head>
<body ng-app="AddNoteApplication">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<br>
<h2>Add Notes</h2><br>
<form ng-submit="showAdd()" ng-controller="AddNoteController">
<div class="form-group">
	<label>Title: </label> <input type="text" ng-model="note.title" required="required" class="form-control">
</div>
<div class="form-group">
	<label>Description: </label><textarea rows="" cols="" class="form-control" ng-model="note.description"></textarea>
</div><br>
<input type="submit" value="Add" class="btn btn-success form-control">


</form>
</div>
<br>
<div ng-bind = "message"></div>

</div>

</body>
</html>